<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page one</title>
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }
    
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }
    </style>
</head>
<body>
   
    <nav>
        <a href="/">Home</a> |
        <a href="/practice">Practice</a>
    </nav>
    <main>
        <h1>This is home</h1>
    </main>

</body>
</html>